:root{
    --first-color-bata-bit: #F7931A;
    --background-color-bata-bit: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);;
    --second-color-bata-bit: #201E1C;
    --three-color-bata-bit: #282623;
    --font-color-bata-bit: #fff;
    --font-weight-bata-bit: 700;
    --background-color-button-bata-bit: #FFE9D5;
}